body{
text-align:center;
background-color: rgb(86, 79, 77);
}
header{
  background-image:url(https://upload.wikimedia.org/wikipedia/en/thumb/2/2c/One_Piece_Logo.svg/800px-One_Piece_Logo.svg.png);
  background-size:100% 100%;
}
h1{
font-size:175px;
margin: 50px 0px 50px 00px; 
padding: 200px 0px 200px 0px ;
color: pink;
}
main{
background-color:gray;
}

h2 {
font-size:60px;
font-style:bolder;
}
table{
background-image:url();
}
table{

}
img.table {
height:150px;
margin:10px 10px 10px 10px ;
padding:5px 5px 5px 5px ;
filter: grayscale(90%);
transition: height 1.5s, filter 1.5s;
}

img.table:hover {
filter: grayscale(0%); 
height: 350px;
}
.strawhat{
height:500px;
width:350px;
}
td {
  border: 5px solid darkblue;
  margin:10px 10px 10px 10px;
 
p{
font-size:20px;
font-family:helveca;
font-style:bold;
color:white;
}
.details {
background-color: rgb(86, 79, 77);
}
footer{
background-color: rgb(86, 79, 77);
}
#jimbei{
height:500px;
width:410px;
}
