body{
text-align:center;
 background-color:gray;
}
h1{
 font-size:60px;
}
header{
background-image:url(https://th.bing.com/th/id/R.10a45129e8a0dcedd14ee8679642ef02?rik=SBXxhloUNv8dOw&pid=ImgRaw&r=0);
background-size:100% 100%; 
}
h2 {
font-size:34px;
font-style:bolder;
}
iframe{
 margin-right:auto;
 height:250px;
 width:400px;
}
p{
font-size:20px;
font-family:helveca;
font-style:bold;
color:white;
}
img{
height:325px;
width:600px;
 margin-right:auto;
 border: 5px solid black;
}
.left {
margin-left:auto;
}
.right{
text-align:right;
}
footer{
background-color:#333;
}
.brown {
 background-color: rgb(86, 79, 77);
}
.pseudo::before{
    content: 'https://miro.medium.com/max/2776/1*1wUD_t4Ufp8Ef9NQzcydWQ.png';
}
